html{
    background-image: url("back/advogado.jpg"); 
    background-size: cover;    
}

.conteudo{
    background-color: rgba(255,255,255,0.8);
    border: 1px solid black;
    border-radius: 5px;
}
